.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.details{
  background: #999;
  height: 100vh;
  width: 100%;
}

.weatherLocationCont{
  width: calc(100% - 20%);
  margin-left: 10px;
  margin-right: 10px;
  background: #f9fdea;
  padding: 25px;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75);
}

.locationCont{
  width: 100%;
  height: 35px;
  text-align: left;
  color: #888;
  line-height: 35px;
  overflow: auto;
}

.locationCont h1{
  margin: 0;
  white-space: nowrap;
}